<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <script
      src="https://code.jquery.com/jquery-3.5.0.js"
      integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
   <link
      rel="stylesheet"
      href="./style.css"
    />
      <script
      src="./script.js"
    ></script>
    
    <meta charset="utf-8" />
    <title>FEMSA</title>
  </head>
  <body style="padding-top: 100px" ;>
    <nav class="navbar fixed-top navbar-light" style="background-color:#e5313d">
      <div class="col-md-auto offset-md-1">
        <h1 style="color:white">Sistema FEMSA</h1>
      </div>
      <div class="col-md-auto">
        <img
          style="width:50%;align-content:right"
          src="https://cdn.glitch.com/ca314d71-0c90-46b9-b63e-6c9bccdbea70%2Fcoca-cola_femsa.png?v=1587753692603"
        />
      </div>
    </nav>

    <div class="container">
      <div class="col-md-12" id="conteudo">
        <div class="row" style="height: 120px">
          <button
            type="button"
            class="btn"
            id="btn1"
            style="width: 100%;height: 80%;border-color:#e5313d;color:#e5313d;font-size:20pt;"
          >
            <span>Instalações</span>
          </button>
        </div>
        <div class="row" style="height: 120px">
          <button
            type="button"
            class="btn"
            id="btn2"
            style="width: 100%;height: 80%;border-color:#e5313d;color:#e5313d;font-size: 20pt;"
          >
            <span>Eventos</span>
          </button>
        </div>
        <div class="row" style="height: 120px">
          <button
            type="button"
            class="btn"
            id="btn3"
            style="width: 100%;height: 80%;border-color:#e5313d;color:#e5313d;font-size: 20pt;"
          >
            <span>Retiradas</span>
          </button>
        </div>
      </div>
    </div>
  </body>

</html>
